# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
venv/
venv_tmp/
env/
.venv/
*.egg-info/

# Django
db.sqlite3
*.log
media/
staticfiles/

# Env
.env
.env.*
!.env.example

# IDE
.idea/
.vscode/

# Screenshots (keep!)
!screenshots/
